@import "styles/colors.scss";

.side-menu {
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
  padding-right: 1em;
  border-right: 1px solid $lightest-grey;
  margin-right: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.menu-controls {
  margin: 10px 0;
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & .action {
    display: flex;
    gap: 0.5em;
  }
}
